@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}





/* SIDEBAR */
/* #sidebar {
	margin-top: 60px;
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
} */

#sidebar {
    margin-top: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    /* Remove fixed height and set a maximum height */
    height: 100%;
    max-height: calc(100% - 60px); /* Ensure there's enough space for the "Log Out" button */
    overflow-y: auto; /* Enable vertical scrolling when needed */
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: .3s ease;
    scrollbar-width: none;
}

#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 0px;
}
#sidebar .brand {
	margin-left: 20px;
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color:#FF6969;
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	/* padding-bottom: 20px; */
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}


#sidebar.hide .brand span {
	opacity: 0;
  }

  #sidebar.hide .bx.bx-menu{
	display: inline-block;
	margin-left: 0px;
	transform: translateX(-150%);
  }
  

#sidebar .side-menu {
	width: 100%;
	/* margin-top: 48px; */
	
}

#sidebar .divider {
	margin-top: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark-grey);
    transition: all .3s ease;
    white-space: nowrap;
	margin-bottom: -20px;
}

#sidebar.hide .divider{
	display: none;
}

#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}

#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: #E74646;
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	/* transition: width .1s ease; */
	font-size: 20px;
}

#sidebar .side-menu.top li a:hover {
	color: #FF6969;
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
#sidebar .side-menu li a span {
	white-space: normal;
  }
/* SIDEBAR */



 #sidebar .btn-logout {
	width: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    padding-left: 12px;
    color: var(--grey);
    background: #FC3B56;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all .3s ease;
    border-radius: 5px;
    font-weight: 600;
    /* margin-bottom: 12px; */
    /* position: sticky;  */
    /* bottom: 0; */
	position: sticky;
    bottom: 15px; /* Adjust the value according to your preference */
}

#sidebar .btn-logout:hover {
    background: var(--grey);
    color:#FC3B56;
}



/* CONTENT */
#content {
	position: relative;
	margin-top: 100px;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;

}

#sidebar .bx.bx-menu {
	margin-left: 50px;
	cursor: pointer;
	color: var(--dark);
}


@media screen and (max-width: 1090px) {
	#sidebar {
		width: 200px;
	}
	#sidebar .brand{
		margin-top: 20px;
	}
	#content {
		width: calc(100% - 60px);
		left: 200px;
		margin-top: 100px;
	}
	#sidebar .side-menu li{
		margin-left: -20px;
	}
	#sidebar .side-menu li a{
		font-size: 13px;
	}
	#sidebar .bx.bx-menu {
		margin-left: 20px;
		cursor: pointer;
		color: var(--dark);
	}
}

@media screen and (max-width: 780px) {
	#sidebar .side-menu {
		width: 100%;
		/* margin-top: -10px; */
	}
	
	#sidebar.hide {
		width: 70px;
	}
	#sidebar {
		width: 150px;
	}
	#sidebar .brand{
		margin-top: 0px;
	}
	#content {
		width: calc(100% - 40px);
		left: 150px;
		margin-top: 100px;
	}
	#sidebar .side-menu li{
		margin-left: -20px;
		margin-top: 0px;
	}
	#sidebar .side-menu li a{
		font-size: 13px;
	}

	#sidebar .bx.bx-menu{
		display: inline-block;
		margin-left: 20px;
		cursor: pointer;
		color: var(--dark);
		margin-left: 0px;
		transform: translateX(-150%);
	  }
	  #sidebar .brand span {
		opacity: 0;
	  }


	   #sidebar .btn-logout {
		margin-left: 3.5px;
	}
	
}


/* table styling */

#content h2{
	text-align: center;
	color: black;
	font-weight: bold;
}
table {
	margin-top: 30px;
	width: 90%;
	margin-left: 50px;
	margin-right: 50px;
	border-collapse: collapse;
	max-width: 90%;
	overflow-x: auto;
  }

table th,
table td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	min-width: 100px;
  }

  table td{
	color: black;
  }

 table th {
	background-color: #FF6969;
	color: white; 
  }
  
table tbody tr:hover {
	background-color: #f9f9f9;
  }
  
  table tbody td[contenteditable]:focus {
	outline: 2px solid #4285f4;
  }
  
  input[type="text"].input-field,
  input[type="number"].input-field,
  input[type="date"].input-field,
  select.input-field{
  /* Set a fixed width for the input fields */
  width: 120px; /* Adjust this value as needed */
  /* Allow the text to wrap and expand the width */
  white-space: normal;
  /* Apply box-sizing property to prevent width increase due to padding and borders */
  box-sizing: border-box;
} 

  
input.small-input {
	width: 70px; /* Adjust the width as needed */
  }

	/* Responsive table layout for smaller screens */
@media screen and (max-width: 1440px) {
	table {
		width: 100%; /* Set the table width to 100% to make it responsive */
	}

	table th,
	table td {
		min-width: auto; /* Allow table cells to adjust their width based on content */
		width: auto;
	}

	/* Add some spacing and styling to improve readability */
	table tbody tr {
		border-bottom: 1px solid #ddd;
	}

	table tbody td:before {
		/* content: attr(data-title); */
		font-weight: bold;
		display: block;
	}

	input[type="text"].input-field,
	input[type="number"].input-field,
	input[type="date"].input-field,
	select.input-field {
		width: 100%; /* Set the input fields to 100% width for responsiveness */
	}
}

/* Responsive table layout for even smaller screens */
@media screen and (max-width: 1300px) {
	table {
		font-size: 14px; /* Reduce font size to fit the table on the screen */
	}

	/* Add some spacing and styling to improve readability */
	table tbody td:before {
		font-size: 12px; /* Adjust font size for the data labels */
	}

	input[type="text"].input-field,
	input[type="number"].input-field,
	input[type="date"].input-field,
	select.input-field {
		width: 100%; /* Set the input fields to 100% width for responsiveness */
	}
	#current-table table {
		font-size: 14px; /* Reduce font size to fit the table on the screen */
	}

	#current-table table th,
	#current-table table td {
		padding: 5px; /* Reduce cell padding for the table */
	}

	/* Add some spacing and styling to improve readability */
	#current-table table tbody td:before {
		font-size: 12px; /* Adjust font size for the data labels */
	}

	input[type="text"].input-field,
	input[type="number"].input-field,
	input[type="date"].input-field,
	select.input-field {
		width: 100%; /* Set the input fields to 100% width for responsiveness */
	}
}


/* Specific media query for table layout between 1090px and 1200px */
@media screen and (min-width: 1090px) and (max-width: 1200px) {
	table th,
	table td {
		padding: 5px; /* Reduce cell padding for the tables */
		font-size: 13px; /* Reduce font size for the tables */
	}

	/* Add some spacing and styling to improve readability */
	table tbody tr {
		border-bottom: 1px solid #ddd;
	}

	table tbody td:before {
		content: attr(data-label);
		font-weight: bold;
		display: block;
		font-size: 13px; /* Adjust font size for the data labels */
	}

	input[type="text"].input-field,
	input[type="number"].input-field,
	input[type="date"].input-field,
	select.input-field {
		width: 80%; /* Reduce the width of input fields for better fit */
	}
}
/* Regular styling for larger screens */
.table-container {
	overflow-x: hidden; /* Hide horizontal scrollbar initially */
  }
  
/* Media query for screens smaller than 1090px */
@media screen and (min-width: 420px) and (max-width: 1090px) {

	.table-container {
	  /* Set the width to the desired value */
	  width: 100%;
	  /* Enable horizontal scrolling */
	  overflow-x: auto;
	}
  
	table {
	  /* Set the table width to at least the width of the table container */
	  /* This is important for the horizontal scrolling to work properly */
	  min-width: 100%;
	}
  }


@media screen and (max-width: 420px) {
	table{
		/* border: 3px solid darkgray; */
		width: 90%;
		margin-left: 15px;
		margin-right: 15px;
		border-collapse: collapse; /* Remove spacing between cells */

	}

	table thead tr{
		display: none;
	}

	table tr{
		display: block;
	}

	table tbody tr {
		border-bottom: 5px solid darkgray; /* Add a line between each row */
		margin-bottom: 10px; /* Add some spacing between rows */
	  }

	table th, table td{
		padding: .5em;
	}

	table th, table td{
		text-align:right;
		display: block;
	}

	table td{
		color: black;
	}	

	table td::before{
		content: attr(data-title);
		float: left;
    	margin-right: 5px;
		color:#E74646;
		font-weight: bold;
		font-size: 20px;
	}

		input[type="text"].input-field,
	input[type="number"].input-field,
	input[type="date"].input-field,
	select.input-field {
		width: 50%; /* Set the input fields to 100% width for responsiveness */
	}

}
  


  
  

/* Card design */
.card {
    width: 90%;
    margin-left: 5%;
	display:flex;
	justify-content: center;
	
  }
  
  .card-image {
    max-width: 325px;
    height: auto;
    position: center;
	margin-top: 20px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
  }
  
  .card-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .card-overview {
    margin-top: 10px;
    font-size: 0.9em;
  }
  
  .card-organization {
    margin-top: 10px;
    font-size: 0.9em;
  }
  
  .card-location {
    margin-top: 10px;
    font-size: 0.9em;
  }

 .card-button{
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;

 }

 .like-button{
  border: none;
  background:none;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 15px;
  min-height: 40px;
  color: #FF4742;
 }

 /* CSS styles for the heart icon */
.like-button .fa-heart {
  color: #ccc; /* Default color for the heart icon */
}

.like-button.liked .fa-heart {
  color: red; /* Change the color to red when the opportunity is liked */
}


 .button-wrapper{
    display: flex;
    gap: 20px;
 }
 
 @media screen and (max-width: 1400px) {
	.card-image {
		max-width: 270px;
		height: auto;
		position: center;
		margin-top: 50px;
	  }
 }

 @media screen and (max-width: 1200px) {
	.card-image {
		max-width: 240px;
		height: auto;
		position: center;
		margin-top: 50px;
	  }
 }
 @media screen and (max-width: 850px) {
	.card-image {
		max-width: 220px;
		height: auto;
		position: center;
		margin-top: 50px;
	  }
 }
 




 /* Account Setting */

 /* Styling for the "Account Settings" section */
#setting-profile {
	margin-top: 30px;
  }
  
  #setting-profile h2 {
	font-size: 24px;
	margin-bottom: 20px;
  }
  
  #account-settings {
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 5px;
  }
  
  #account-settings h2 {
	font-size: 20px;
	margin-bottom: 10px;
  }
  
  #account-settings p{
	color: black;
  }
  #account-settings div {
	margin-bottom: 10px;
  }
  
  #account-settings label {
	font-weight: bold;
  }
  
  #account-settings p {
	margin: 0;
	padding: 0;
  }
  
  #account-settings input[type="text"],
  #account-settings input[type="date"],
  #account-settings select {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  #account-settings button {
	background-color: #FF4742;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 10px;
  }
  
  #account-settings button:hover {
	background-color: #FF4742;
  }
  
  #reset-password-btn {
	background-color: #2196F3;
	margin-left: 10px;
  }
  
  #reset-password-btn:hover {
	background-color: #0b7dda;
  }
  

  /* Help&Support */
  .contact{
	margin-top: -150px;
  }


  @media screen and (max-width: 420px) {
	.contactInfo p{
		font-size: 12px;
	}
  }

  /* Responsive */

